{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      // 可以修改为true确保解析tsx文件
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "target": "es2015",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true
  },
  "module": {
    "type": "commonjs"
  }
}